[submodule "jerkelens"]
	path = jerkelens
	url = git://github.com/jperkelens/Vimfiles.git
[submodule "romanmt"]
	path = romanmt
	url = git://github.com/romanmt/vimfiles.git
[submodule "msilverman"]
	path = msilverman
	url = git@github.com:dogeared/MicahVimFiles.git
[submodule "tclay"]
	path = tclay
	url = git@github.com:thadclay/MicahVimFiles.git
[submodule "jcheung"]
	path = jcheung
	url = git@github.com:jcdidit/MicahVimFiles
